<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="nhattan.lnt.clothesshop">
    <!-- permissions for internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="Fashion Store"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ClothesShop">
        <activity
            android:name=".Manager.Them_SanPham"
            android:exported="true" />
        <activity
            android:name=".Manager.CapNhat_SanPham"
            android:exported="true" />
        <activity
            android:name=".Manager.HomeManager"
            android:exported="true" />
        <activity
            android:name=".TransactionHistoryDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".TransactionHistoryActivity"
            android:exported="true" />
        <activity
            android:name=".OrderActivity"
            android:exported="true" />
        <activity
            android:name=".ProductionActivity"
            android:exported="true" />
        <activity
            android:name=".ChangePasswordActivity"
            android:exported="true" />
        <activity
            android:name=".ContactActivity"
            android:exported="true" />
        <activity
            android:name=".IntroductActivity"
            android:exported="true" />
        <activity
            android:name=".UserInformationActivity"
            android:exported="true" />
        <activity
            android:name=".ChatBotActivity"
            android:exported="true" />
        <activity
            android:name=".HomeActivity"
            android:exported="true" />
        <activity
            android:name=".ForgotPassword"
            android:exported="true" />
        <activity
            android:name=".Login"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>